<launch>
       <rosparam command="load" file="/home/jihwan/git/ROS_test/src/single_core/cfg/param_list.yaml"/>
       <node pkg="single_core" type="A" name="A" output="screen"/> 
       <node pkg="single_core" type="B" name="B" output="screen" /> 
       <node pkg="single_core" type="C" name="C" output="screen" /> 
       <node pkg="single_core" type="D" name="D" output="screen" /> 
</launch>